@import url(styles.css);

/* Hide the browser's default checkbox */
.container input {
    background-color: var(--primario1-opacity);
    color: var(--primario1);
    border-radius: 0%;
    border: none;
}

.container input::placeholder {
    color: var(--primario1);
}

.container input:hover {
    background-color: var(--primario1-opacity);
    color: var(--primario1);
}

.container select {
    background-color: var(--primario1-opacity);
    color: var(--primario1);
    border-radius: 0%;
    border: none;
}

.card {
    background-color: var(--fondoGrisClaro);
    border: none;
}

.total {
    color: var(--primario1);
}