@import url('styles.css');



.contenedor-tarjetas{
    margin: 80px 0 80px 0;
    display: flex;
    justify-content: space-around;
}

.card-text{
    margin-bottom: 40px;
    color: var(--fondoGris);
}

.sub-titulo{
    color: var(--fondoGris);
}
@media (471px <= width <= 768px){
    .titulo, .sub-titulo{
        text-align: center;
    }
    .contenedor-titulo{
        margin: 0;
    }        
    .contenedor-tarjetas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 10px;
    }

}

@media (width < 470px){
    .titulo, .sub-titulo{
        text-align: center;
    }
    .contenedor-titulo{
        margin: 0;
    }        
    .contenedor-tarjetas{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin: 10px;
    }

    h1{
        font-size: 32px;
    }

    h4{
        font-size: 16px;
    }
}

.logo{
    width: 152px; 
    height: 48px;
}

@media (471px <= width){

    .mobile{
        display: none;
    }

}

@media (width <= 991px){
    .mobile{
        display: block;
    }
    .mobile, .dropdown-menu{
        max-width: 10rem;
    }
    .desktop{
        display: none;
    }
    .carrito{
        display: none;
    }
}